@{
    ViewData["Title"] = "Music";
}
<div class="text-center">
    <h2 class="section-title" id="featuredAlb">Featured Albums</h2>
<div class="row">
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
</div>
<h2 class="section-title" id="popularAbl">Popular Playlists</h2>
<div class="row">
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
    @Html.Partial("_Song")
</div>
</div>
<script src="~/Scripts/index.js"></script>